In [61]:
# Importações básicas
import os
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import DataFrame
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType, DateType
from datetime import date, timedelta, datetime
import random
import calendar
import locale
import logging

In [62]:
logging.basicConfig(level=logging.INFO, filename="teste.log")

In [63]:
# Lista de clientes
nome_cliente = [
    "Ana", "João", "Maria", "Pedro", "Júlia", "Lucas", "Larissa", "Gabriel", "Beatriz", "Felipe", "Clara",
    "Daniel", "Laura", "Rafael", "Mariana", "Gustavo", "Luísa", "Henrique", "Sofia", "Matheus", "Isabella",
    "Bruno", "Alice", "Thiago", "Helena", "Rodrigo", "Giovanna", "Eduardo", "Rafaela", "Leonardo", "Nicole",
    "Caio", "Vitória", "André", "Fernanda", "Diego", "Yasmin", "Guilherme", "Letícia", "Vinícius", "Camila",
    "Igor", "Valentina", "Otávio", "Bianca", "Enzo", "Lorena", "Alex", "Elisa", "Murilo", "Vitória", "Samuel",
    "Gabriela", "Arthur", "Evelyn", "Miguel", "Marina", "Renan", "Tainá", "Jorge", "Juliana", "Samuel",
    "Melissa", "Raul", "Camila", "Levi", "Carolina", "Nathan", "Cecília", "Lucas", "Amanda", "Benjamin",
    "Lívia", "Heitor", "Bruna", "Davi", "Talita", "Theo", "Maíra", "Tomás", "Ana Clara", "Vicente", "Isadora",
    "Alexandre", "Sabrina", "Emerson", "Thaís", "Renata", "Otávio", "Priscila", "Eduardo", "Natália", "Jonas",
    "Aline", "Cristiano", "Patrícia", "Vicente", "Elisa"
]

# Lista de estados e cidades
estado_cidade = {
    "AC": ["Rio Branco", "Cruzeiro do Sul", "Sena Madureira"],
    "AL": ["Maceió", "Arapiraca", "Palmeira dos Índios"],
    "AP": ["Macapá", "Santana", "Laranjal do Jari"],
    "AM": ["Manaus", "Parintins", "Itacoatiara"],
    "BA": ["Salvador", "Feira de Santana", "Vitória da Conquista"],
    "CE": ["Fortaleza", "Caucaia", "Juazeiro do Norte"],
    "DF": ["Brasília"],
    "ES": ["Vitória", "Vila Velha", "Serra"],
    "GO": ["Goiânia", "Anápolis", "Aparecida de Goiânia"],
    "MA": ["São Luís", "Imperatriz", "Timon"],
    "MT": ["Cuiabá", "Várzea Grande", "Rondonópolis"],
    "MS": ["Campo Grande", "Dourados", "Três Lagoas"],
    "MG": ["Belo Horizonte", "Uberlândia", "Contagem"],
    "PA": ["Belém", "Ananindeua", "Santarém"],
    "PB": ["João Pessoa", "Campina Grande", "Santa Rita"],
    "PR": ["Curitiba", "Londrina", "Maringá"],
    "PE": ["Recife", "Jaboatão dos Guararapes", "Olinda"],
    "PI": ["Teresina", "Parnaíba", "Picos"],
    "RJ": ["Rio de Janeiro", "Niterói", "Duque de Caxias"],
    "RN": ["Natal", "Mossoró", "Parnamirim"],
    "RS": ["Porto Alegre", "Caxias do Sul", "Pelotas"],
    "RO": ["Porto Velho", "Ji-Paraná", "Ariquemes"],
    "RR": ["Boa Vista", "Rorainópolis", "Caracaraí"],
    "SC": ["Florianópolis", "Joinville", "Blumenau"],
    "SP": ["São Paulo", "Campinas", "São Bernardo do Campo"],
    "SE": ["Aracaju", "Nossa Senhora do Socorro", "Lagarto"],
    "TO": ["Palmas", "Araguaína", "Gurupi"]
}

# Lista de produtos eletrônicos
produtos = ["Smartphone", "Notebook", "Tablet", "Monitor", "Fone de Ouvido", "Smartwatch", "Câmera", "Impressora", "Caixa de Som", "Roteador"]

In [64]:
print(len(nome_cliente))
print(len(estado_cidade))
print(len(produtos))

98
27
10

In [65]:
def gerardados(nome_cliente, estado_cidade, produtos):

    vendas = []
        
# Gera dados para número do pedido e código do cliente
    for dados in range(1,101):

        nrpedido = dados
        codcliente = random.randint(1, 100)  
        cliente = random.choice(nome_cliente)      
        qtd =  random.randint(1, 100)
        produto = random.choice(produtos)
        custo = float(random.uniform(1, 100))
        valor_venda = float(qtd * (custo * 1.5))
        #data_atual = date.today()
        #data = data_atual - timedelta(days=random.randint(1, 30))  
        #data = date(year=random.randint(2010,2024), month=random.randint(1, 12), day=random.randint(1, 30))
                # Gerar uma data válida
        ano = random.randint(2010, 2024)
        mes = random.randint(1, 12)
        ultimo_dia = calendar.monthrange(ano, mes)[1]  # Obter o último dia do mês
        dia = random.randint(1, ultimo_dia)
        data = date(year=ano, month=mes, day=dia)
        uf = random.choice(list(estado_cidade.keys()))
        cidade = random.choice(estado_cidade[uf])
        vendas.append((nrpedido, codcliente, cliente, qtd, produto, custo, valor_venda, uf, cidade, data))

    return vendas

In [66]:
gerardados(nome_cliente, estado_cidade, produtos)

[(1,
  66,
  'Maria',
  47,
  'Roteador',
  34.441796931372856,
  2428.146683661786,
  'AP',
  'Santana',
  datetime.date(2022, 5, 24)),
 (2,
  100,
  'André',
  9,
  'Tablet',
  18.586622338371996,
  250.91940156802195,
  'PE',
  'Recife',
  datetime.date(2022, 3, 25)),
 (3,
  14,
  'Camila',
  40,
  'Impressora',
  46.58149511143017,
  2794.8897066858103,
  'RJ',
  'Duque de Caxias',
  datetime.date(2023, 5, 15)),
 (4,
  43,
  'Yasmin',
  50,
  'Fone de Ouvido',
  8.736085079672318,
  655.2063809754238,
  'SE',
  'Lagarto',
  datetime.date(2011, 6, 19)),
 (5,
  7,
  'Sabrina',
  72,
  'Smartphone',
  14.00484704437976,
  1512.5234807930142,
  'RS',
  'Caxias do Sul',
  datetime.date(2011, 3, 18)),
 (6,
  46,
  'Isadora',
  71,
  'Caixa de Som',
  72.82352454956903,
  7755.705364529103,
  'MS',
  'Campo Grande',
  datetime.date(2024, 9, 10)),
 (7,
  65,
  'Felipe',
  22,
  'Roteador',
  74.44481628522635,
  2456.6789374124696,
  'CE',
  'Juazeiro do Norte',
  datetime.date(2016, 6, 19)),
 (8,
  79,
  'Marina',
  6,
  'Smartphone',
  62.989293493038176,
  566.9036414373436,
  'AC',
  'Cruzeiro do Sul',
  datetime.date(2020, 6, 23)),
 (9,
  46,
  'Guilherme',
  51,
  'Smartwatch',
  94.90746696224095,
  7260.421222611432,
  'PE',
  'Recife',
  datetime.date(2017, 5, 12)),
 (10,
  19,
  'Cristiano',
  44,
  'Smartwatch',
  20.202440217716735,
  1333.3610543693044,
  'SP',
  'São Paulo',
  datetime.date(2015, 8, 6)),
 (11,
  68,
  'Cecília',
  68,
  'Câmera',
  60.811306356495756,
  6202.753248362567,
  'ES',
  'Serra',
  datetime.date(2020, 8, 19)),
 (12,
  78,
  'Henrique',
  57,
  'Smartphone',
  62.207471763925234,
  5318.738835815608,
  'PB',
  'João Pessoa',
  datetime.date(2022, 1, 6)),
 (13,
  68,
  'Davi',
  80,
  'Smartphone',
  12.62942451678257,
  1515.5309420139085,
  'SP',
  'São Paulo',
  datetime.date(2013, 12, 29)),
 (14,
  56,
  'Lucas',
  68,
  'Monitor',
  43.94727678418457,
  4482.622231986826,
  'SP',
  'São Bernardo do Campo',
  datetime.date(2017, 11, 18)),
 (15,
  15,
  'Samuel',
  90,
  'Smartphone',
  99.33291298115626,
  13409.943252456094,
  'RR',
  'Caracaraí',
  datetime.date(2017, 5, 23)),
 (16,
  55,
  'Raul',
  62,
  'Fone de Ouvido',
  82.18746691052266,
  7643.434422678607,
  'RR',
  'Caracaraí',
  datetime.date(2014, 10, 20)),
 (17,
  89,
  'Vitória',
  89,
  'Roteador',
  46.14505598435353,
  6160.364973911197,
  'MT',
  'Cuiabá',
  datetime.date(2012, 6, 18)),
 (18,
  16,
  'Júlia',
  37,
  'Fone de Ouvido',
  12.87044852425208,
  714.3098930959903,
  'RJ',
  'Rio de Janeiro',
  datetime.date(2024, 8, 29)),
 (19,
  93,
  'Vicente',
  59,
  'Fone de Ouvido',
  19.674075412434732,
  1741.1556740004737,
  'AL',
  'Maceió',
  datetime.date(2011, 2, 7)),
 (20,
  14,
  'Vinícius',
  5,
  'Tablet',
  81.13211810835442,
  608.4908858126582,
  'BA',
  'Salvador',
  datetime.date(2011, 5, 25)),
 (21,
  48,
  'Rodrigo',
  58,
  'Smartwatch',
  53.59119857816608,
  4662.434276300449,
  'RO',
  'Ariquemes',
  datetime.date(2013, 12, 22)),
 (22,
  36,
  'Júlia',
  96,
  'Caixa de Som',
  14.67228511515259,
  2112.809056581973,
  'CE',
  'Caucaia',
  datetime.date(2021, 12, 26)),
 (23,
  22,
  'Bruna',
  3,
  'Impressora',
  35.866577449868664,
  161.399598524409,
  'MA',
  'São Luís',
  datetime.date(2020, 1, 25)),
 (24,
  100,
  'Arthur',
  30,
  'Tablet',
  47.83235798816662,
  2152.4561094674978,
  'SC',
  'Blumenau',
  datetime.date(2023, 6, 24)),
 (25,
  18,
  'Alice',
  14,
  'Fone de Ouvido',
  99.91717540958767,
  2098.260683601341,
  'RS',
  'Porto Alegre',
  datetime.date(2013, 9, 17)),
 (26,
  16,
  'Lucas',
  42,
  'Monitor',
  90.29250788982247,
  5688.427997058817,
  'RJ',
  'Niterói',
  datetime.date(2016, 3, 14)),
 (27,
  25,
  'Matheus',
  63,
  'Smartwatch',
  60.897452025654815,
  5754.80921642438,
  'AM',
  'Parintins',
  datetime.date(2022, 5, 4)),
 (28,
  15,
  'Gabriela',
  30,
  'Smartphone',
  68.22912273491308,
  3070.3105230710885,
  'MG',
  'Uberlândia',
  datetime.date(2012, 3, 13)),
 (29,
  84,
  'Igor',
  23,
  'Smartwatch',
  5.141449205168909,
  177.37999757832736,
  'PB',
  'Campina Grande',
  datetime.date(2024, 4, 24)),
 (30,
  92,
  'João',
  3,
  'Tablet',
  19.689669566837377,
  88.60351305076819,
  'RS',
  'Pelotas',
  datetime.date(2011, 12, 27)),
 (31,
  80,
  'Bruna',
  71,
  'Fone de Ouvido',
  67.0132429103026,
  7136.910369947226,
  'SC',
  'Florianópolis',
  datetime.date(2014, 2, 15)),
 (32,
  91,
  'Juliana',
  27,
  'Fone de Ouvido',
  68.69439667300185,
  2782.1230652565746,
  'MT',
  'Rondonópolis',
  datetime.date(2012, 4, 2)),
 (33,
  28,
  'Evelyn',
  27,
  'Tablet',
  62.015867733926015,
  2511.642643224003,
  'RN',
  'Natal',
  datetime.date(2023, 10, 20)),
 (34,
  57,
  'Ana Clara',
  87,
  'Fone de Ouvido',
  49.093033409993275,
  6406.640860004122,
  'RR',
  'Caracaraí',
  datetime.date(2014, 7, 9)),
 (35,
  64,
  'Heitor',
  71,
  'Tablet',
  38.76063416653211,
  4128.007538735669,
  'MA',
  'Imperatriz',
  datetime.date(2016, 11, 19)),
 (36,
  69,
  'Gabriel',
  41,
  'Tablet',
  4.8200102060030305,
  296.4306276691864,
  'DF',
  'Brasília',
  datetime.date(2022, 3, 13)),
 (37,
  38,
  'Maria',
  12,
  'Fone de Ouvido',
  65.28768706943276,
  1175.1783672497897,
  'RO',
  'Ji-Paraná',
  datetime.date(2010, 3, 9)),
 (38,
  96,
  'Juliana',
  25,
  'Impressora',
  87.11063474457056,
  3266.648802921396,
  'PB',
  'João Pessoa',
  datetime.date(2016, 3, 15)),
 (39,
  73,
  'Clara',
  56,
  'Câmera',
  74.03666444661064,
  6219.0798135152945,
  'PB',
  'João Pessoa',
  datetime.date(2015, 3, 18)),
 (40,
  2,
  'Vinícius',
  37,
  'Smartphone',
  69.04365596924966,
  3831.9229062933564,
  'PE',
  'Recife',
  datetime.date(2016, 12, 19)),
 (41,
  64,
  'Camila',
  40,
  'Impressora',
  13.858053324742183,
  831.4831994845309,
  'MS',
  'Dourados',
  datetime.date(2012, 11, 1)),
 (42,
  83,
  'Lucas',
  47,
  'Notebook',
  96.34576587663304,
  6792.376494302629,
  'PA',
  'Santarém',
  datetime.date(2019, 5, 1)),
 (43,
  34,
  'Nicole',
  12,
  'Caixa de Som',
  2.001322484372214,
  36.02380471869985,
  'ES',
  'Vitória',
  datetime.date(2012, 10, 28)),
 (44,
  58,
  'Talita',
  62,
  'Tablet',
  7.577152544219289,
  704.6751866123939,
  'MT',
  'Rondonópolis',
  datetime.date(2019, 10, 23)),
 (45,
  92,
  'Bruno',
  58,
  'Câmera',
  60.0787199704652,
  5226.848637430472,
  'PB',
  'Campina Grande',
  datetime.date(2023, 5, 24)),
 (46,
  74,
  'Giovanna',
  69,
  'Smartwatch',
  66.59996758153274,
  6893.096644688639,
  'RR',
  'Rorainópolis',
  datetime.date(2011, 12, 27)),
 (47,
  22,
  'Laura',
  38,
  'Fone de Ouvido',
  81.55100692276727,
  4648.407394597734,
  'AL',
  'Palmeira dos Índios',
  datetime.date(2018, 4, 30)),
 (48,
  93,
  'Rafael',
  43,
  'Monitor',
  66.25609003511718,
  4273.517807265058,
  'PI',
  'Picos',
  datetime.date(2014, 1, 31)),
 (49,
  5,
  'Maíra',
  49,
  'Notebook',
  95.77089654003377,
  7039.160895692482,
  'SC',
  'Joinville',
  datetime.date(2015, 2, 26)),
 (50,
  13,
  'André',
  69,
  'Smartphone',
  57.08697336109176,
  5908.501742872997,
  'AC',
  'Rio Branco',
  datetime.date(2018, 5, 6)),
 (51,
  58,
  'Helena',
  25,
  'Smartphone',
  52.63173128708433,
  1973.6899232656622,
  'SE',
  'Nossa Senhora do Socorro',
  datetime.date(2017, 10, 16)),
 (52,
  28,
  'Helena',
  94,
  'Smartwatch',
  76.10378487370362,
  10730.63366719221,
  'ES',
  'Vila Velha',
  datetime.date(2018, 7, 13)),
 (53,
  74,
  'Theo',
  13,
  'Roteador',
  56.2590321653651,
  1097.0511272246194,
  'MT',
  'Várzea Grande',
  datetime.date(2010, 9, 29)),
 (54,
  91,
  'Leonardo',
  10,
  'Fone de Ouvido',
  34.15162427299282,
  512.2743640948922,
  'PI',
  'Teresina',
  datetime.date(2012, 11, 20)),
 (55,
  86,
  'Natália',
  83,
  'Caixa de Som',
  19.222379380776307,
  2393.1862329066503,
  'GO',
  'Anápolis',
  datetime.date(2012, 3, 6)),
 (56,
  13,
  'Priscila',
  19,
  'Smartwatch',
  73.05348909583341,
  2082.0244392312525,
  'TO',
  'Palmas',
  datetime.date(2024, 2, 7)),
 (57,
  25,
  'Sofia',
  75,
  'Smartphone',
  20.21308370652611,
  2273.9719169841874,
  'AP',
  'Santana',
  datetime.date(2021, 5, 19)),
 (58,
  93,
  'Júlia',
  32,
  'Monitor',
  14.389742810200485,
  690.7076548896232,
  'MT',
  'Várzea Grande',
  datetime.date(2015, 1, 22)),
 (59,
  56,
  'Valentina',
  12,
  'Tablet',
  24.764369836054737,
  445.75865704898524,
  'PB',
  'João Pessoa',
  datetime.date(2014, 8, 17)),
 (60,
  19,
  'Alexandre',
  26,
  'Smartwatch',
  34.37390501001224,
  1340.5822953904772,
  'PR',
  'Maringá',
  datetime.date(2022, 8, 27)),
 (61,
  56,
  'Evelyn',
  19,
  'Câmera',
  81.28065628337565,
  2316.4987040762057,
  'SP',
  'Campinas',
  datetime.date(2013, 6, 13)),
 (62,
  91,
  'Igor',
  4,
  'Smartphone',
  20.512167601423585,
  123.07300560854151,
  'SC',
  'Joinville',
  datetime.date(2020, 4, 21)),
 (63,
  85,
  'Thiago',
  4,
  'Notebook',
  59.133630811612875,
  354.80178486967725,
  'PA',
  'Santarém',
  datetime.date(2023, 1, 4)),
 (64,
  35,
  'Igor',
  53,
  'Roteador',
  75.44523706915088,
  5997.896346997494,
  'AL',
  'Arapiraca',
  datetime.date(2012, 6, 7)),
 (65,
  40,
  'Davi',
  17,
  'Impressora',
  90.59928168039477,
  2310.2816828500668,
  'SP',
  'Campinas',
  datetime.date(2014, 11, 8)),
 (66,
  34,
  'Bruno',
  52,
  'Smartphone',
  94.41153744959358,
  7364.0999210682985,
  'SC',
  'Florianópolis',
  datetime.date(2011, 5, 3)),
 (67,
  46,
  'Larissa',
  71,
  'Impressora',
  80.81118897356849,
  8606.391625685044,
  'CE',
  'Caucaia',
  datetime.date(2019, 1, 8)),
 (68,
  41,
  'Raul',
  73,
  'Fone de Ouvido',
  6.881093619340946,
  753.4797513178337,
  'ES',
  'Serra',
  datetime.date(2022, 4, 25)),
 (69,
  92,
  'Eduardo',
  24,
  'Smartwatch',
  87.78783104437092,
  3160.3619175973527,
  'PR',
  'Maringá',
  datetime.date(2020, 2, 13)),
 (70,
  61,
  'Caio',
  24,
  'Notebook',
  13.06930423576898,
  470.49495248768324,
  'RN',
  'Parnamirim',
  datetime.date(2014, 7, 30)),
 (71,
  48,
  'Carolina',
  26,
  'Caixa de Som',
  54.970464015089526,
  2143.8480965884914,
  'BA',
  'Vitória da Conquista',
  datetime.date(2014, 3, 17)),
 (72,
  5,
  'Samuel',
  71,
  'Impressora',
  38.53095147611617,
  4103.546332206372,
  'RN',
  'Mossoró',
  datetime.date(2015, 1, 19)),
 (73,
  49,
  'Vitória',
  4,
  'Notebook',
  57.46191414488724,
  344.77148486932344,
  'BA',
  'Salvador',
  datetime.date(2020, 5, 13)),
 (74,
  23,
  'Caio',
  32,
  'Smartphone',
  46.96503876749879,
  2254.321860839942,
  'SE',
  'Aracaju',
  datetime.date(2022, 10, 21)),
 (75,
  91,
  'Vicente',
  57,
  'Impressora',
  89.93687050649619,
  7689.602428305425,
  'SE',
  'Aracaju',
  datetime.date(2011, 4, 6)),
 (76,
  38,
  'Cecília',
  7,
  'Caixa de Som',
  39.458521554409856,
  414.31447632130346,
  'AM',
  'Manaus',
  datetime.date(2023, 2, 2)),
 (77,
  54,
  'Thaís',
  47,
  'Impressora',
  14.546540128619084,
  1025.5310790676454,
  'PB',
  'Santa Rita',
  datetime.date(2023, 8, 3)),
 (78,
  81,
  'Maria',
  53,
  'Notebook',
  47.058987471432886,
  3741.189503978914,
  'PB',
  'João Pessoa',
  datetime.date(2016, 1, 22)),
 (79,
  75,
  'Alice',
  6,
  'Tablet',
  14.47592063982589,
  130.283285758433,
  'AP',
  'Laranjal do Jari',
  datetime.date(2018, 7, 16)),
 (80,
  73,
  'Jorge',
  30,
  'Impressora',
  10.71990074133805,
  482.3955333602122,
  'PE',
  'Olinda',
  datetime.date(2023, 1, 15)),
 (81,
  22,
  'Lucas',
  14,
  'Roteador',
  84.43474925819335,
  1773.1297344220604,
  'MT',
  'Várzea Grande',
  datetime.date(2016, 7, 9)),
 (82,
  7,
  'Beatriz',
  87,
  'Tablet',
  31.722745483825115,
  4139.818285639177,
  'SE',
  'Nossa Senhora do Socorro',
  datetime.date(2012, 12, 3)),
 (83,
  64,
  'Igor',
  98,
  'Impressora',
  97.05483203257913,
  14267.06030878913,
  'GO',
  'Aparecida de Goiânia',
  datetime.date(2023, 10, 16)),
 (84,
  23,
  'Caio',
  92,
  'Câmera',
  84.1278953577745,
  11609.649559372883,
  'AL',
  'Maceió',
  datetime.date(2014, 6, 9)),
 (85,
  14,
  'Helena',
  33,
  'Smartwatch',
  63.5139514419391,
  3143.9405963759855,
  'MT',
  'Cuiabá',
  datetime.date(2010, 11, 8)),
 (86,
  9,
  'Thaís',
  41,
  'Monitor',
  37.208088829422934,
  2288.2974630095105,
  'AC',
  'Sena Madureira',
  datetime.date(2021, 11, 8)),
 (87,
  31,
  'Murilo',
  30,
  'Monitor',
  30.368130882522912,
  1366.565889713531,
  'MS',
  'Dourados',
  datetime.date(2023, 1, 9)),
 (88,
  69,
  'Letícia',
  9,
  'Smartphone',
  92.18211335625263,
  1244.4585303094104,
  'TO',
  'Gurupi',
  datetime.date(2016, 5, 19)),
 (89,
  7,
  'Lucas',
  17,
  'Monitor',
  35.45212344346376,
  904.0291478083259,
  'SC',
  'Blumenau',
  datetime.date(2023, 2, 11)),
 (90,
  98,
  'Giovanna',
  1,
  'Câmera',
  5.951152591116627,
  8.92672888667494,
  'SP',
  'São Bernardo do Campo',
  datetime.date(2010, 11, 15)),
 (91,
  77,
  'Samuel',
  18,
  'Roteador',
  23.469608513421186,
  633.6794298623721,
  'MG',
  'Contagem',
  datetime.date(2016, 2, 24)),
 (92,
  23,
  'Alexandre',
  33,
  'Roteador',
  64.22348493796747,
  3179.0625044293897,
  'MS',
  'Três Lagoas',
  datetime.date(2018, 3, 18)),
 (93,
  71,
  'Caio',
  78,
  'Impressora',
  99.86261625050945,
  11683.926101309604,
  'PB',
  'Santa Rita',
  datetime.date(2011, 5, 26)),
 (94,
  64,
  'Vitória',
  24,
  'Câmera',
  48.02860002132929,
  1729.0296007678544,
  'AL',
  'Palmeira dos Índios',
  datetime.date(2016, 12, 23)),
 (95,
  56,
  'Rodrigo',
  11,
  'Roteador',
  60.01566927960332,
  990.2585431134548,
  'SE',
  'Aracaju',
  datetime.date(2010, 5, 17)),
 (96,
  30,
  'Bruna',
  4,
  'Caixa de Som',
  87.35644059384694,
  524.1386435630816,
  'GO',
  'Aparecida de Goiânia',
  datetime.date(2015, 11, 18)),
 (97,
  1,
  'Natália',
  90,
  'Monitor',
  61.05945648069184,
  8243.026624893399,
  'RO',
  'Ariquemes',
  datetime.date(2022, 6, 20)),
 (98,
  64,
  'Emerson',
  89,
  'Smartphone',
  52.11968573344984,
  6957.978045415553,
  'PA',
  'Santarém',
  datetime.date(2023, 11, 22)),
 (99,
  2,
  'Benjamin',
  14,
  'Fone de Ouvido',
  49.56935264721901,
  1040.9564055915994,
  'PA',
  'Ananindeua',
  datetime.date(2022, 9, 3)),
 (100,
  42,
  'Vitória',
  56,
  'Impressora',
  1.5184135730715487,
  127.54674013801011,
  'PR',
  'Maringá',
  datetime.date(2020, 2, 3))]

In [67]:
spark = SparkSession.builder.appName(name="ecommerce").getOrCreate()

In [68]:
# Definindo o schema

schema = StructType([
    StructField("nrPedido", IntegerType(), True),
    StructField("codCliente", IntegerType(), True),
    StructField("cliente", StringType(), True),
    StructField("qtd", IntegerType(), True),
    StructField("produto", StringType(), True),
    StructField("custo", FloatType(), True),
    StructField("valorVenda", FloatType(), True),
    StructField("uf", StringType(), True),
    StructField("cidade", StringType(), True),
    StructField("data", DateType(), True),
    
])

In [69]:
# Gerando dados fictícios de clientes para o DF
dados_vendas = gerardados(nome_cliente, estado_cidade, produtos)

In [70]:
# Atribuindo os dados ao df
df = spark.createDataFrame(dados_vendas, schema)

In [71]:
# Prévia dos dados.
df.limit(10).show(truncate = False)

+--------+----------+-------+---+--------------+---------+----------+---+------------+----------+
|nrPedido|codCliente|cliente|qtd|produto       |custo    |valorVenda|uf |cidade      |data      |
+--------+----------+-------+---+--------------+---------+----------+---+------------+----------+
|1       |20        |Felipe |12 |Câmera        |82.97701 |1493.5862 |MT |Rondonópolis|2012-09-06|
|2       |22        |Otávio |27 |Caixa de Som  |68.13089 |2759.301  |PA |Ananindeua  |2018-01-02|
|3       |43        |Igor   |93 |Roteador      |86.523   |12069.959 |MT |Cuiabá      |2017-12-08|
|4       |61        |Maíra  |18 |Fone de Ouvido|36.018845|972.50885 |CE |Fortaleza   |2015-09-10|
|5       |1         |Nathan |73 |Fone de Ouvido|21.831488|2390.548  |MG |Contagem    |2013-08-09|
|6       |2         |Jonas  |28 |Smartphone    |26.736946|1122.9518 |PE |Olinda      |2018-08-31|
|7       |86        |Jorge  |47 |Monitor       |36.865273|2599.0017 |AC |Rio Branco  |2018-06-24|
|8       |94        |Cecília|88 |Notebook      |35.436707|4677.6455 |PA |Belém       |2021-12-06|
|9       |62        |Bruna  |44 |Câmera        |1.5469114|102.096146|PB |João Pessoa |2018-02-03|
|10      |74        |Otávio |66 |Impressora    |17.377813|1720.4034 |PR |Londrina    |2017-11-08|
+--------+----------+-------+---+--------------+---------+----------+---+------------+----------+

In [72]:
# Identificando o schema
df.printSchema()

root
 |-- nrPedido: integer (nullable = true)
 |-- codCliente: integer (nullable = true)
 |-- cliente: string (nullable = true)
 |-- qtd: integer (nullable = true)
 |-- produto: string (nullable = true)
 |-- custo: float (nullable = true)
 |-- valorVenda: float (nullable = true)
 |-- uf: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- data: date (nullable = true)

In [73]:
# Identificando o número total de linhas
df.count()

100

In [74]:
# Estados que tiveram apenas uma venda, e qual produto foi vendido
df.filter(df.qtd == 1).select(df.uf, df.produto).show()

+---+--------------+
| uf|       produto|
+---+--------------+
| DF|Fone de Ouvido|
+---+--------------+

In [75]:
df.select(F.round(F.avg(F.col("valorVenda")), 2).alias("MediaVendas")).show()

+-----------+
|MediaVendas|
+-----------+
|    3289.88|
+-----------+

In [76]:
## Forma alternativa para obter a média (complexa)

# Média de vendas
df_media_vendas = df.agg({"valorVenda": "avg"})

# Imprimindo e renomeando a coluna com o cálculo médio para melhor compreensão.
df_media_vendas = df_media_vendas.withColumnRenamed("avg(valorVenda)", "MediaVendas")

df_media_vendas.select(F.round(df_media_vendas.MediaVendas,2).alias("MediaVendas")).show()

+-----------+
|MediaVendas|
+-----------+
|    3289.88|
+-----------+

In [77]:
# Produto mais vendido
#df.select(F.max("qtd")).show()
#df.orderBy(F.desc("qtd")).select("produto", "qtd").limit(1).show()
df_qtd_max = df.groupBy("produto").max("qtd").alias("total")
df_qtd_max.orderBy(F.desc("max(qtd)")).limit(3).show()

+----------+--------+
|   produto|max(qtd)|
+----------+--------+
|  Roteador|     100|
|Impressora|     100|
|    Câmera|      99|
+----------+--------+

In [78]:
df.groupBy("produto").sum("valorVenda").show()

+--------------+------------------+
|       produto|   sum(valorVenda)|
+--------------+------------------+
|  Caixa de Som| 37686.97915649414|
|      Roteador|42343.676025390625|
|        Câmera| 41282.94689178467|
|      Notebook|25324.207580566406|
|        Tablet|24327.525482177734|
|    Smartphone| 24029.76579284668|
|       Monitor|36977.643981933594|
|    Impressora|  33914.6842956543|
|Fone de Ouvido| 27843.99552154541|
|    Smartwatch| 35256.51135253906|
+--------------+------------------+

In [79]:
df2 = (
    df.groupBy("Produto")
    .sum("valorVenda")
    .show(n=10)     
)

+--------------+------------------+
|       Produto|   sum(valorVenda)|
+--------------+------------------+
|  Caixa de Som| 37686.97915649414|
|      Roteador|42343.676025390625|
|        Câmera| 41282.94689178467|
|      Notebook|25324.207580566406|
|        Tablet|24327.525482177734|
|    Smartphone| 24029.76579284668|
|       Monitor|36977.643981933594|
|    Impressora|  33914.6842956543|
|Fone de Ouvido| 27843.99552154541|
|    Smartwatch| 35256.51135253906|
+--------------+------------------+

In [80]:
dfduplicados = (
    df.groupBy(df.produto)
    .count()
    .filter(col("count") > 1)
    .sort("count", ascending=False)
    .limit(10)
    .show()
)

+--------------+-----+
|       produto|count|
+--------------+-----+
|        Câmera|   14|
|    Smartphone|   13|
|       Monitor|   13|
|Fone de Ouvido|   11|
|  Caixa de Som|   10|
|        Tablet|   10|
|    Impressora|    9|
|      Notebook|    8|
|    Smartwatch|    7|
|      Roteador|    5|
+--------------+-----+

In [81]:
# Dropando dados duplicados
df.dropDuplicates().show(10)

+--------+----------+-------+---+--------------+---------+----------+---+------------+----------+
|nrPedido|codCliente|cliente|qtd|       produto|    custo|valorVenda| uf|      cidade|      data|
+--------+----------+-------+---+--------------+---------+----------+---+------------+----------+
|      24|        44|Beatriz| 37|       Monitor| 89.28297| 4955.2046| PE|      Olinda|2011-01-31|
|      15|        92|  Bruno| 65|      Notebook| 44.88155|  4375.951| RO| Porto Velho|2021-06-23|
|       4|        61|  Maíra| 18|Fone de Ouvido|36.018845| 972.50885| CE|   Fortaleza|2015-09-10|
|       6|         2|  Jonas| 28|    Smartphone|26.736946| 1122.9518| PE|      Olinda|2018-08-31|
|       5|         1| Nathan| 73|Fone de Ouvido|21.831488|  2390.548| MG|    Contagem|2013-08-09|
|       2|        22| Otávio| 27|  Caixa de Som| 68.13089|  2759.301| PA|  Ananindeua|2018-01-02|
|      16|        29| Renata|  6|        Câmera|57.658337| 518.92505| MT|Rondonópolis|2022-08-16|
|       7|        86|  Jorge| 47|       Monitor|36.865273| 2599.0017| AC|  Rio Branco|2018-06-24|
|      12|        86|  Pedro| 62|    Impressora|98.127785|  9125.884| AM|   Parintins|2018-03-18|
|      14|        90|  Lucas| 99|        Câmera|  34.6363|   5143.49| PA|    Santarém|2010-01-18|
+--------+----------+-------+---+--------------+---------+----------+---+------------+----------+
only showing top 10 rows

In [82]:
# 5. *Custo Médio por Estado:  - Qual é o custo médio dos produtos vendidos em cada estado?
df.select(round(F.avg(col("custo")),2).alias("custoMedio")).show()

+----------+
|custoMedio|
+----------+
|     47.99|
+----------+

In [83]:
# 6. *Total de Vendas por Cliente: Qual é o total de vendas (valor de venda) por cliente?

df_total_por_clientes = (
    df
    .groupBy("cliente")
    .agg(F.round(F.sum("valorVenda"),2).alias("totalPorCliente"))
    .withColumnRenamed("sum(valorVenda)", "totalPorCliente")
    .show(10)
)

+-------+---------------+
|cliente|totalPorCliente|
+-------+---------------+
|  Tomás|        4429.54|
|  Lucas|        5143.49|
|   Igor|       12069.96|
|  Bruno|        4375.95|
|Cecília|         5770.0|
| Nathan|        2390.55|
| Renata|       20781.64|
|Melissa|         518.88|
|  Bruna|        3180.51|
|  Tainá|        2076.35|
+-------+---------------+
only showing top 10 rows

In [84]:
# 7. Data Mais Recente e Mais Antiga: Qual é a data mais recente e a mais antiga registrada nos dados?
df_antigo_recente = (
    df
    .select(min(df.data)
    .alias("antigo"),
    max(df.data)
    .alias("recente"))
    .show()
)

+----------+----------+
|    antigo|   recente|
+----------+----------+
|2010-01-13|2024-12-08|
+----------+----------+

In [85]:
# 8. *Quantidade de Vendas por Dia: Quantas vendas ocorreram em cada dia?
df_total_diario = (
    df
    .groupBy(date_format("data", "dd/MM/yyyy").alias("data"))
    .agg(round(sum("valorVenda"),2)
    .alias("TotalVendaDiaria"))
    .limit(10)
    .show()
)

+----------+----------------+
|      data|TotalVendaDiaria|
+----------+----------------+
|23/05/2018|         1373.73|
|16/09/2022|         5712.96|
|08/12/2017|        12069.96|
|31/01/2011|          4955.2|
|06/12/2014|         2459.78|
|03/10/2014|          667.73|
|10/09/2015|          972.51|
|24/06/2018|          2599.0|
|06/09/2012|         1493.59|
|21/10/2021|         1052.38|
+----------+----------------+

In [86]:
# 9. *Custo Médio e Valor de Venda Médio por Produto: Qual é o custo médio e o valor de venda médio para cada produto?
df_custoMedio_vendaMedia = (
    df.groupBy("produto")    
    .agg(round(avg("custo"),2)    
    .alias("custoMedio"),
    round(avg("valorVenda"))
    .alias("receitaMedia"))
    .limit(10)
    .show()
)

+--------------+----------+------------+
|       produto|custoMedio|receitaMedia|
+--------------+----------+------------+
|  Caixa de Som|     52.65|      3769.0|
|      Roteador|     69.01|      8469.0|
|        Câmera|     46.28|      2949.0|
|      Notebook|     47.12|      3166.0|
|        Tablet|      61.4|      2433.0|
|    Smartphone|     32.45|      1848.0|
|       Monitor|     46.08|      2844.0|
|    Impressora|     48.01|      3768.0|
|Fone de Ouvido|     48.36|      2531.0|
|    Smartwatch|     43.43|      5037.0|
+--------------+----------+------------+

In [87]:
# 10. *Porcentagem de Lucro: Qual é a porcentagem média de lucro (baseado no custo e valor de venda) em todas as vendas?
custo_venda = df.withColumn("custoTotal", (df.qtd * df.custo))
custo_venda.show()

+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+
|nrPedido|codCliente|  cliente|qtd|       produto|    custo|valorVenda| uf|             cidade|      data|custoTotal|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+
|       1|        20|   Felipe| 12|        Câmera| 82.97701| 1493.5862| MT|       Rondonópolis|2012-09-06|  995.7241|
|       2|        22|   Otávio| 27|  Caixa de Som| 68.13089|  2759.301| PA|         Ananindeua|2018-01-02|  1839.534|
|       3|        43|     Igor| 93|      Roteador|   86.523| 12069.959| MT|             Cuiabá|2017-12-08|  8046.639|
|       4|        61|    Maíra| 18|Fone de Ouvido|36.018845| 972.50885| CE|          Fortaleza|2015-09-10| 648.33923|
|       5|         1|   Nathan| 73|Fone de Ouvido|21.831488|  2390.548| MG|           Contagem|2013-08-09| 1593.6986|
|       6|         2|    Jonas| 28|    Smartphone|26.736946| 1122.9518| PE|             Olinda|2018-08-31|  748.6345|
|       7|        86|    Jorge| 47|       Monitor|36.865273| 2599.0017| AC|         Rio Branco|2018-06-24| 1732.6678|
|       8|        94|  Cecília| 88|      Notebook|35.436707| 4677.6455| PA|              Belém|2021-12-06| 3118.4302|
|       9|        62|    Bruna| 44|        Câmera|1.5469114|102.096146| PB|        João Pessoa|2018-02-03|   68.0641|
|      10|        74|   Otávio| 66|    Impressora|17.377813| 1720.4034| PR|           Londrina|2017-11-08| 1146.9357|
|      11|        55|     Raul| 51|      Notebook|13.756618| 1052.3812| PI|           Teresina|2021-10-21|  701.5875|
|      12|        86|    Pedro| 62|    Impressora|98.127785|  9125.884| AM|          Parintins|2018-03-18|  6083.923|
|      13|        63|Alexandre| 42|  Caixa de Som| 90.68189| 5712.9595| MA|              Timon|2022-09-16| 3808.6394|
|      14|        90|    Lucas| 99|        Câmera|  34.6363|   5143.49| PA|           Santarém|2010-01-18| 3428.9937|
|      15|        92|    Bruno| 65|      Notebook| 44.88155|  4375.951| RO|        Porto Velho|2021-06-23| 2917.3008|
|      16|        29|   Renata|  6|        Câmera|57.658337| 518.92505| MT|       Rondonópolis|2022-08-16|    345.95|
|      17|         7|  Melissa| 12|       Monitor|24.689247| 444.40643| AL|Palmeira dos Índios|2010-11-28| 296.27097|
|      18|        41|    Tomás| 32|Fone de Ouvido| 84.47015| 4054.5674| SP|           Campinas|2023-03-28|  2703.045|
|      19|        48|  Natália| 65|        Tablet|25.228498| 2459.7786| PB|        João Pessoa|2014-12-06| 1639.8524|
|      20|        51|  Eduardo| 86|        Câmera|17.823797|   2299.27| DF|           Brasília|2022-01-16| 1532.8466|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+
only showing top 20 rows

In [88]:
lucro_percentual = custo_venda.withColumn("lucroPercentual", round((custo_venda.custoTotal * custo_venda.valorVenda) / 100))
lucro_percentual.show()

+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+---------------+
|nrPedido|codCliente|  cliente|qtd|       produto|    custo|valorVenda| uf|             cidade|      data|custoTotal|lucroPercentual|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+---------------+
|       1|        20|   Felipe| 12|        Câmera| 82.97701| 1493.5862| MT|       Rondonópolis|2012-09-06|  995.7241|        14872.0|
|       2|        22|   Otávio| 27|  Caixa de Som| 68.13089|  2759.301| PA|         Ananindeua|2018-01-02|  1839.534|        50758.0|
|       3|        43|     Igor| 93|      Roteador|   86.523| 12069.959| MT|             Cuiabá|2017-12-08|  8046.639|       971226.0|
|       4|        61|    Maíra| 18|Fone de Ouvido|36.018845| 972.50885| CE|          Fortaleza|2015-09-10| 648.33923|         6305.0|
|       5|         1|   Nathan| 73|Fone de Ouvido|21.831488|  2390.548| MG|           Contagem|2013-08-09| 1593.6986|        38098.0|
|       6|         2|    Jonas| 28|    Smartphone|26.736946| 1122.9518| PE|             Olinda|2018-08-31|  748.6345|         8407.0|
|       7|        86|    Jorge| 47|       Monitor|36.865273| 2599.0017| AC|         Rio Branco|2018-06-24| 1732.6678|        45032.0|
|       8|        94|  Cecília| 88|      Notebook|35.436707| 4677.6455| PA|              Belém|2021-12-06| 3118.4302|       145869.0|
|       9|        62|    Bruna| 44|        Câmera|1.5469114|102.096146| PB|        João Pessoa|2018-02-03|   68.0641|           69.0|
|      10|        74|   Otávio| 66|    Impressora|17.377813| 1720.4034| PR|           Londrina|2017-11-08| 1146.9357|        19732.0|
|      11|        55|     Raul| 51|      Notebook|13.756618| 1052.3812| PI|           Teresina|2021-10-21|  701.5875|         7383.0|
|      12|        86|    Pedro| 62|    Impressora|98.127785|  9125.884| AM|          Parintins|2018-03-18|  6083.923|       555212.0|
|      13|        63|Alexandre| 42|  Caixa de Som| 90.68189| 5712.9595| MA|              Timon|2022-09-16| 3808.6394|       217586.0|
|      14|        90|    Lucas| 99|        Câmera|  34.6363|   5143.49| PA|           Santarém|2010-01-18| 3428.9937|       176370.0|
|      15|        92|    Bruno| 65|      Notebook| 44.88155|  4375.951| RO|        Porto Velho|2021-06-23| 2917.3008|       127660.0|
|      16|        29|   Renata|  6|        Câmera|57.658337| 518.92505| MT|       Rondonópolis|2022-08-16|    345.95|         1795.0|
|      17|         7|  Melissa| 12|       Monitor|24.689247| 444.40643| AL|Palmeira dos Índios|2010-11-28| 296.27097|         1317.0|
|      18|        41|    Tomás| 32|Fone de Ouvido| 84.47015| 4054.5674| SP|           Campinas|2023-03-28|  2703.045|       109597.0|
|      19|        48|  Natália| 65|        Tablet|25.228498| 2459.7786| PB|        João Pessoa|2014-12-06| 1639.8524|        40337.0|
|      20|        51|  Eduardo| 86|        Câmera|17.823797|   2299.27| DF|           Brasília|2022-01-16| 1532.8466|        35244.0|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+---------------+
only showing top 20 rows

# Trabalhando com datas

In [89]:
#11) Data Mais Recente e Mais Antiga: Objetivo: Descobrir qual é a data mais recente e a mais antiga registrada nos dados.

data_recente_antiga = (
    df.select(
        F.max(date_format(df.data, "dd/MM/yyyy"))
        .alias("dataAntiga"), 
        F.min(date_format("data", "dd/MM/yyyy"))
        .alias("dataRecente"))
)

data_recente_antiga.show()

+----------+-----------+
|dataAntiga|dataRecente|
+----------+-----------+
|31/08/2018| 01/01/2021|
+----------+-----------+

In [90]:
df.select(F.min(df.data).alias("dataAntiga")).show()

+----------+
|dataAntiga|
+----------+
|2010-01-13|
+----------+

In [91]:
# 12) Quantidade de Vendas por Dia. Objetivo: Contar quantas vendas ocorreram em cada dia.
#df.groupBy("data").agg(sum("qtd").alias("qtdDia")).show()
df_qtdDia = (
    df.groupBy("data")
    .agg(sum("qtd").alias("qtdDia"))    
    .sort("data")
)

df_qtdDia.show()

+----------+------+
|      data|qtdDia|
+----------+------+
|2010-01-13|    25|
|2010-01-18|    99|
|2010-04-02|    80|
|2010-04-22|    32|
|2010-05-30|    17|
|2010-07-01|   100|
|2010-10-26|    85|
|2010-11-03|    72|
|2010-11-28|    12|
|2010-12-26|    91|
|2011-01-17|   100|
|2011-01-31|    37|
|2011-03-05|     7|
|2011-03-09|    25|
|2011-06-28|    77|
|2011-11-11|    88|
|2011-11-21|    55|
|2012-02-12|    29|
|2012-02-24|    52|
|2012-03-30|    12|
+----------+------+
only showing top 20 rows

### Adicionar Coluna com Ano e Mês. Objetivo: Adicionar uma coluna que contenha apenas o ano e o mês da data da venda.

In [92]:
# 13) Adicionar Coluna com Ano e Mês Objetivo: Adicionar uma coluna que contenha apenas o ano e o mês da data da venda.
df_ano_mes = df.withColumn("ano_mes", date_format(df.data, "yyyy-MM"))
df_ano_mes.show()

+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+-------+
|nrPedido|codCliente|  cliente|qtd|       produto|    custo|valorVenda| uf|             cidade|      data|ano_mes|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+-------+
|       1|        20|   Felipe| 12|        Câmera| 82.97701| 1493.5862| MT|       Rondonópolis|2012-09-06|2012-09|
|       2|        22|   Otávio| 27|  Caixa de Som| 68.13089|  2759.301| PA|         Ananindeua|2018-01-02|2018-01|
|       3|        43|     Igor| 93|      Roteador|   86.523| 12069.959| MT|             Cuiabá|2017-12-08|2017-12|
|       4|        61|    Maíra| 18|Fone de Ouvido|36.018845| 972.50885| CE|          Fortaleza|2015-09-10|2015-09|
|       5|         1|   Nathan| 73|Fone de Ouvido|21.831488|  2390.548| MG|           Contagem|2013-08-09|2013-08|
|       6|         2|    Jonas| 28|    Smartphone|26.736946| 1122.9518| PE|             Olinda|2018-08-31|2018-08|
|       7|        86|    Jorge| 47|       Monitor|36.865273| 2599.0017| AC|         Rio Branco|2018-06-24|2018-06|
|       8|        94|  Cecília| 88|      Notebook|35.436707| 4677.6455| PA|              Belém|2021-12-06|2021-12|
|       9|        62|    Bruna| 44|        Câmera|1.5469114|102.096146| PB|        João Pessoa|2018-02-03|2018-02|
|      10|        74|   Otávio| 66|    Impressora|17.377813| 1720.4034| PR|           Londrina|2017-11-08|2017-11|
|      11|        55|     Raul| 51|      Notebook|13.756618| 1052.3812| PI|           Teresina|2021-10-21|2021-10|
|      12|        86|    Pedro| 62|    Impressora|98.127785|  9125.884| AM|          Parintins|2018-03-18|2018-03|
|      13|        63|Alexandre| 42|  Caixa de Som| 90.68189| 5712.9595| MA|              Timon|2022-09-16|2022-09|
|      14|        90|    Lucas| 99|        Câmera|  34.6363|   5143.49| PA|           Santarém|2010-01-18|2010-01|
|      15|        92|    Bruno| 65|      Notebook| 44.88155|  4375.951| RO|        Porto Velho|2021-06-23|2021-06|
|      16|        29|   Renata|  6|        Câmera|57.658337| 518.92505| MT|       Rondonópolis|2022-08-16|2022-08|
|      17|         7|  Melissa| 12|       Monitor|24.689247| 444.40643| AL|Palmeira dos Índios|2010-11-28|2010-11|
|      18|        41|    Tomás| 32|Fone de Ouvido| 84.47015| 4054.5674| SP|           Campinas|2023-03-28|2023-03|
|      19|        48|  Natália| 65|        Tablet|25.228498| 2459.7786| PB|        João Pessoa|2014-12-06|2014-12|
|      20|        51|  Eduardo| 86|        Câmera|17.823797|   2299.27| DF|           Brasília|2022-01-16|2022-01|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+-------+
only showing top 20 rows

In [93]:
# 14) Filtrar Vendas de um Mês Específico. Objetivo: Filtrar todas as vendas que ocorreram no mês de julho de 2024.
df.filter((year(col("data")) == 2024) & (month(col("data")) == 6)).show(10)

+--------+----------+-------+---+-------+-----+----------+---+------+----+
|nrPedido|codCliente|cliente|qtd|produto|custo|valorVenda| uf|cidade|data|
+--------+----------+-------+---+-------+-----+----------+---+------+----+
+--------+----------+-------+---+-------+-----+----------+---+------+----+

#### Adicionar Coluna com Dia da Semana. Objetivo: Adicionar uma coluna que mostre o dia da semana para cada data de venda.

In [94]:
# 15) Adicionar Coluna com Dia da Semana. Objetivo: Adicionar uma coluna que mostre o dia da semana para cada data de venda.
df_dia_semana = df.withColumn("dia_semana", date_format(df.data, "EEEE"))
df_dia_semana.show()

+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+
|nrPedido|codCliente|  cliente|qtd|       produto|    custo|valorVenda| uf|             cidade|      data|dia_semana|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+
|       1|        20|   Felipe| 12|        Câmera| 82.97701| 1493.5862| MT|       Rondonópolis|2012-09-06|  Thursday|
|       2|        22|   Otávio| 27|  Caixa de Som| 68.13089|  2759.301| PA|         Ananindeua|2018-01-02|   Tuesday|
|       3|        43|     Igor| 93|      Roteador|   86.523| 12069.959| MT|             Cuiabá|2017-12-08|    Friday|
|       4|        61|    Maíra| 18|Fone de Ouvido|36.018845| 972.50885| CE|          Fortaleza|2015-09-10|  Thursday|
|       5|         1|   Nathan| 73|Fone de Ouvido|21.831488|  2390.548| MG|           Contagem|2013-08-09|    Friday|
|       6|         2|    Jonas| 28|    Smartphone|26.736946| 1122.9518| PE|             Olinda|2018-08-31|    Friday|
|       7|        86|    Jorge| 47|       Monitor|36.865273| 2599.0017| AC|         Rio Branco|2018-06-24|    Sunday|
|       8|        94|  Cecília| 88|      Notebook|35.436707| 4677.6455| PA|              Belém|2021-12-06|    Monday|
|       9|        62|    Bruna| 44|        Câmera|1.5469114|102.096146| PB|        João Pessoa|2018-02-03|  Saturday|
|      10|        74|   Otávio| 66|    Impressora|17.377813| 1720.4034| PR|           Londrina|2017-11-08| Wednesday|
|      11|        55|     Raul| 51|      Notebook|13.756618| 1052.3812| PI|           Teresina|2021-10-21|  Thursday|
|      12|        86|    Pedro| 62|    Impressora|98.127785|  9125.884| AM|          Parintins|2018-03-18|    Sunday|
|      13|        63|Alexandre| 42|  Caixa de Som| 90.68189| 5712.9595| MA|              Timon|2022-09-16|    Friday|
|      14|        90|    Lucas| 99|        Câmera|  34.6363|   5143.49| PA|           Santarém|2010-01-18|    Monday|
|      15|        92|    Bruno| 65|      Notebook| 44.88155|  4375.951| RO|        Porto Velho|2021-06-23| Wednesday|
|      16|        29|   Renata|  6|        Câmera|57.658337| 518.92505| MT|       Rondonópolis|2022-08-16|   Tuesday|
|      17|         7|  Melissa| 12|       Monitor|24.689247| 444.40643| AL|Palmeira dos Índios|2010-11-28|    Sunday|
|      18|        41|    Tomás| 32|Fone de Ouvido| 84.47015| 4054.5674| SP|           Campinas|2023-03-28|   Tuesday|
|      19|        48|  Natália| 65|        Tablet|25.228498| 2459.7786| PB|        João Pessoa|2014-12-06|  Saturday|
|      20|        51|  Eduardo| 86|        Câmera|17.823797|   2299.27| DF|           Brasília|2022-01-16|    Sunday|
+--------+----------+---------+---+--------------+---------+----------+---+-------------------+----------+----------+
only showing top 20 rows

In [95]:
# 16) Determinar o Dia da Semana com Mais Vendas
# Objetivo: Descobrir qual dia da semana teve o maior número de vendas totais (soma das quantidades vendidas).

df_dia_semana_total_qtd = (
    df_dia_semana
    .groupBy("dia_semana")
    .agg(sum("qtd").alias("qtd"))
    .sort("qtd", ascending=False)    
)
df_dia_semana_total_qtd.show()

+----------+----+
|dia_semana| qtd|
+----------+----+
|    Friday|1212|
| Wednesday| 773|
|   Tuesday| 711|
|    Monday| 682|
|    Sunday| 615|
|  Saturday| 400|
|  Thursday| 327|
+----------+----+

In [96]:
# 17) Calcular a Média de Vendas por Mês:
# Objetivo: Calcular a média da quantidade de vendas realizadas em cada mês.

df_media_vendas_mes = (
    df.groupBy(month("data")
               .alias("MesCorrespondente"))
    .agg(round(F.avg("valorVenda"),2)
         .alias("TotalPorMes"))
)
df_media_vendas_mes.show()

+-----------------+-----------+
|MesCorrespondente|TotalPorMes|
+-----------------+-----------+
|               12|    5522.26|
|                1|    3996.17|
|                6|    2980.52|
|                3|    3084.27|
|                5|    2988.87|
|                9|    2840.21|
|                8|    2615.65|
|               10|     2716.1|
|               11|    2406.95|
|                2|    2884.55|
|                4|    3264.79|
|                7|    4628.92|
+-----------------+-----------+

In [97]:
#Exercício 20: Calcular a Média de Vendas por Produto em Cada Ano 
# Objetivo: Calcular a média de vendas realizadas para cada produto em cada ano. Utilize uma estrutura de repetição para iterar sobre os anos e calcular a média das vendas.

ano_venda = df.select(year(df.data).alias("ano")).distinct().sort("data").collect()

In [98]:
print(ano_venda)

[Row(ano=2010), Row(ano=2011), Row(ano=2012), Row(ano=2013), Row(ano=2014), Row(ano=2015), Row(ano=2016), Row(ano=2017), Row(ano=2018), Row(ano=2019), Row(ano=2020), Row(ano=2021), Row(ano=2022), Row(ano=2023), Row(ano=2024)]

In [99]:
df_weekend = df.withColumn("dia_semana", date_format(df.data, "EEEE"))
df_weekend.filter((df_weekend.dia_semana ==  "Saturday") | (df_weekend.dia_semana == "Sunday")).show()

+--------+----------+---------+---+--------------+---------+----------+---+--------------------+----------+----------+
|nrPedido|codCliente|  cliente|qtd|       produto|    custo|valorVenda| uf|              cidade|      data|dia_semana|
+--------+----------+---------+---+--------------+---------+----------+---+--------------------+----------+----------+
|       7|        86|    Jorge| 47|       Monitor|36.865273| 2599.0017| AC|          Rio Branco|2018-06-24|    Sunday|
|       9|        62|    Bruna| 44|        Câmera|1.5469114|102.096146| PB|         João Pessoa|2018-02-03|  Saturday|
|      12|        86|    Pedro| 62|    Impressora|98.127785|  9125.884| AM|           Parintins|2018-03-18|    Sunday|
|      17|         7|  Melissa| 12|       Monitor|24.689247| 444.40643| AL| Palmeira dos Índios|2010-11-28|    Sunday|
|      19|        48|  Natália| 65|        Tablet|25.228498| 2459.7786| PB|         João Pessoa|2014-12-06|  Saturday|
|      20|        51|  Eduardo| 86|        Câmera|17.823797|   2299.27| DF|            Brasília|2022-01-16|    Sunday|
|      25|        53|  Vicente| 12|       Monitor|65.501686| 1179.0304| SP|São Bernardo do C...|2014-11-01|  Saturday|
|      28|        38|  Letícia| 37|    Smartwatch|18.213491|1010.84875| PI|            Teresina|2018-03-17|  Saturday|
|      29|        66|   Felipe| 43|    Impressora|13.758413| 887.41766| MS|            Dourados|2024-12-08|    Sunday|
|      32|        22|Ana Clara| 17|  Caixa de Som|78.518105| 2002.2115| MG|          Uberlândia|2010-05-30|    Sunday|
|      40|        97|  Melissa| 34|    Smartphone| 1.460301|  74.47536| MS|        Campo Grande|2013-11-09|  Saturday|
|      41|        39|   Nicole| 54|Fone de Ouvido| 67.25511|  5447.664| PA|               Belém|2014-05-18|    Sunday|
|      43|        67|Guilherme| 97|    Smartwatch|15.025508| 2186.2114| ES|          Vila Velha|2023-08-26|  Saturday|
|      44|        58|   Helena| 94|       Monitor|52.992004| 7471.8726| AL|           Arapiraca|2013-12-15|    Sunday|
|      48|        36|   Amanda| 36|    Impressora| 83.61987|  4515.473| MS|        Campo Grande|2012-05-12|  Saturday|
|      59|        56|    Jorge| 55|        Câmera|17.716255| 1461.5911| CE|           Fortaleza|2012-04-22|    Sunday|
|      65|        90| Patrícia| 15|    Smartphone|29.872643| 672.13446| SC|           Joinville|2024-12-08|    Sunday|
|      71|        54|  Sabrina| 29|        Tablet| 58.86014| 2560.4163| RS|       Caxias do Sul|2012-02-12|    Sunday|
|      84|        61|  Vitória| 68|  Caixa de Som|13.398118|  1366.608| PI|            Teresina|2014-10-18|  Saturday|
|      94|        27|    Sofia| 10|        Câmera| 64.81034| 972.15515| MS|            Dourados|2013-09-08|    Sunday|
+--------+----------+---------+---+--------------+---------+----------+---+--------------------+----------+----------+
only showing top 20 rows

In [100]:
df.filter(F.col("uf") == "SP").limit(3).show()

+--------+----------+-------+---+--------------+---------+----------+---+--------------------+----------+
|nrPedido|codCliente|cliente|qtd|       produto|    custo|valorVenda| uf|              cidade|      data|
+--------+----------+-------+---+--------------+---------+----------+---+--------------------+----------+
|      18|        41|  Tomás| 32|Fone de Ouvido| 84.47015| 4054.5674| SP|            Campinas|2023-03-28|
|      21|        45|  Tainá| 21|       Monitor|65.915924| 2076.3516| SP|            Campinas|2016-02-11|
|      25|        53|Vicente| 12|       Monitor|65.501686| 1179.0304| SP|São Bernardo do C...|2014-11-01|
+--------+----------+-------+---+--------------+---------+----------+---+--------------------+----------+

--- Nova lista ---

1. Contagem de Registros  
   - Conte o número total de registros no DataFrame.  

2. Filtro por Estado (UF)  
   - Filtre e exiba todas as vendas realizadas no estado de "SP".  

3. Valor Total das Vendas  
   - Calcule o valor total das vendas (`valorVenda`) considerando todas as transações.  

4. Clientes Únicos  
   - Conte quantos clientes únicos (`codCliente`) existem no DataFrame.  

5. Venda Média por Produto  
   - Calcule a média do valor de venda (`valorVenda`) para cada produto.  

6. Pedidos por Cliente  
   - Liste os clientes (`cliente`) e a quantidade de pedidos (`nrPedido`) que cada um realizou.  

7. Data da Primeira e Última Venda  
   - Descubra qual foi a data da primeira e da última venda registrada no DataFrame.  

8. Quantidade Total Vendida por Estado  
   - Agrupe os dados por `uf` e some a quantidade total (`qtd`) de produtos vendidos em cada estado.  

9. Produtos Mais Vendidos  
   - Identifique os três produtos mais vendidos com base na quantidade (`qtd`).  

10. Margem de Lucro por Venda  
   - Crie uma coluna chamada `margemLucro` que calcule a margem de lucro da venda usando a fórmula:  
     ```
     margemLucro = valorVenda - custo
     ```
   - Depois, exiba as 5 vendas com maior margem de lucro.